* {
  font-family: sans-serif;
}

body { 
  margin: 0px;
}

@font-face{
  font-family: "Bowlby";
  font-weight: 100;
  font-style: normal;
  src: url("./assets/BowlbyOneSC-Regular.ttf"), format("truetype");
}