* {
  font-family: sans-serif;
}

body { 
  margin: 0px;
}

@font-face{
  font-family: "Bowlby";
  src: url("./assets/BowlbyOneSC-Regular.ttf") format("truetype");
}

.inputLabel {
  margin-top: 8px;
}

input {
  margin-top: 8px;
  margin-bottom: 10px;
}